$primaryColor: #eae9e4;
$secondaryColor: #1c1717;

// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;

body {
    font-family: 'Roboto', sans-serif;
    color: $primaryColor;
    background-color: $primaryColor;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    color: $primaryColor;
    background-color: $secondaryColor;

    h1 {
        font-size: 12px;
        margin: 12px;
        font-weight: 400;
        letter-spacing: .2em;
        text-transform: uppercase;
    }

    button span.menuIcon {
        font-size: 24px;
        margin: 12px;
    }
}

main {
    max-width: 1280px;
    margin: 0 auto;

    #items.container {
        max-width: 1280px;
        margin: 120px auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 100px 20px;
        
        .card {
            position: relative;
            width: 400px;
            max-width: 400px;
            border: 1px solid $secondaryColor;
            
            .cardData {
                padding: 40px;
                color: $secondaryColor;
                background-color: $primaryColor;
                min-height: 200px;

                h2.title {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 36px;
                    font-weight: 700;
                }
                
                .sub {
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: .2em;
                    margin-bottom: .5em;
                    text-transform: uppercase;
                    border-bottom: 1px solid $primaryColor;
                }
                
            }
            
            button {
                position: absolute;
                bottom: -40px;
                left: 0;
                width: 100%;
                height: 40px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                background-color: $primaryColor;
                color: $secondaryColor;
                border-bottom: 1px solid $primaryColor;

                .buttonText {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    padding-left: 9px;
                }
                .arrow {
                    position: absolute;
                    right: 0;
                    font-size: 18px;
                    padding-right: 9px;
                }
            }

            button:hover {
                border-bottom: 1px solid $secondaryColor;
            }
            
            .text {
                // position: absolute;
                color: $primaryColor;
                background-color: $secondaryColor;
                font-size: 24px;
                font-weight: 400;
                padding: 1rem;
                text-align: center;
            }
            
        }
    }
}
